/*******************************************
================CSS Reset===================
********************************************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*******************************************
==============Custom Styling================
********************************************/
body {
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
}

/*******************************************
================Typography==================
********************************************/
h1 {
	
	display: block;
}
h2 {
	font-size: 18px;
	line-height: 40px;
	color: black;
	font-weight: 500;
	display: inline-block;
}
h3{
	font-size: 18px;
	color: black;
	font-weight: 300;
	margin: 4px 0;
}

h2 b{
	font-size: 16px;
	color: grey;
	font-weight: 300;
}

h5 {
	font-size: 50px;
	color: #526D82;
	font-weight: 300;
	margin-top: 25px;
	margin-bottom: 25px;
	text-align: center;
}

/*******************************************
==================Header====================
********************************************/
header {
	position: fixed;
	opacity: 0;
	background-color: #fff;
	height: 40px;
	width: 100%;
	z-index: 100;
	-webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
}

/*******************************************
===================Home=====================
********************************************/
#above-fold{
	position: fixed;
	height: 100vh;
	width: 100vw;
	z-index: -1;
}

.container {
	height: 100vh;
	width: 100vw;
	position: absolute;
	z-index: -1;
}
.home-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
}
.home {
	display: none;
	position: relative;
	top: 45%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	margin: auto;
	height: 250px;
	width: 85%;
}

.home-back{
	width: 400px;
	padding: 25px 25px 25px 25px;
	background: rgba(51, 48, 48, 0.7);
	border-radius: 25px 25px;
}

.home-name{
    margin-bottom: .2rem;
    color: #fff;
    font-size: 2.8em;
    font-weight: 300;
	letter-spacing: 1px;
}
.home-subtitle {
    color: #f2f2f2;
    font-size: 1.4em;
    font-weight: 300;
    font-style: italic;
	margin-bottom: 5px;
	letter-spacing: 1px;
}

/*******************************************
===================Home=====================
********************************************/
.body{
	top: 100px;
	display: block;
	width: 100%;
	height: 1500px;
	margin-top: 100vh;
	background-color: #fff;
}

/*******************************************
================Navigation==================
********************************************/
nav{
	margin: 0 50px 0 0;
	height: 40px;
	display: inline-block;
	float: right;
	
}

/*******************************************
==================Links=====================
********************************************/
a {
	text-decoration: none;
	color: #b3d8ff;
	cursor:pointer;
}
a:visited {
	color: #b3d8ff;
}

/*******************************************
==================Table=====================
********************************************/
table {
	display: block;
	border-collapse: seperate;
	margin-top: 15px;
}
table tr {
	color: #b3d8ff;
	height: 31px;
	font-weight: 300;
}
/*******************************************
==============Home Navigation===============
********************************************/
.home-name h1{
	margin-bottom: 5px;
}
.home-nav {
	font-size: 1.4em;
}
.home-nav-secondary span::after {
	content: " /";
	color: #999;
}
/* For IE */
.home-nav-secondary span:after {
	content: " /";
	color: #999;
}
.home-nav-secondary span:last-child:after
{
  content: '';
}
.home-nav a:hover {
	text-decoration: underline;
}
.home-nav td{
	padding-right: 2rem;
}

/*******************************************
============Header Navigation===============
********************************************/
.header-nav a:visited {
	color: black;
}
.header-nav a{
	float: right;
	margin: 8px 9px;
	opacity: 0.75;
	filter: alpha(opacity=75); /* For IE8 and earlier */
}
.header-nav a:hover{
	opacity: 1;
	filter: alpha(opacity=100); /* For IE8 and earlier */
}



.category{
    padding: 100px 0;
}

#engineer{
	background-color: #FFFFFF;
    text-align: center;
}


#programmer{
	background-color: #F7F7F7;
	text-align: center;
}

#web-dev{
	background-color: #FFFFFF;
	text-align: center;
}


#open-source{
	background-color: #FFFFFF;
}

div h2{
	text-align: center;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 40px;
	width: 100%;
	margin-bottom: 40px;
}

.display{
	width: 25%;
	align: center;
	margin: 0 auto;
	text-align: center;
	display: inline-block;
	justify-content: center;
	vertical-align: text-top;
	padding-left: 10px;
	padding-right: 10px;
}


#logo{
	margin: 0 0 0 40px;
}

h4{
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: 700;
	font-size: 20px;
}
.project-name{
	margin: 15px 0;
	text-transform: none;
	height: 40px;
    
}
.text-muted{
	color: #777;
}
p{
    font-size: 14px;
    line-height: 1.75;
}
.active-link{
	color: #337AB7;
	padding-right: 10px;
	padding-top: 10px;
}
.source-link{
	color: #337AB7;
}

/*******************************************
=============Picture Previews===============
********************************************/

.display img{
    opacity:0; 
	filter:alpha(opacity=0);
	margin: -40px;
    height:180px;
    position: relative;
}

.display img:hover{
	opacity:1; 
	filter:alpha(opacity=1);
	box-shadow: 0px 0px 100px 0px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 6px;
}

#wind-turbine-pv{
    background-image:url('../images/index/wind_turbine.png') ;
	background-repeat: no-repeat;
	background-size: 100px, 100px;
	background-position: center center;
    height: 100px;
}

#charging-dock-pv{
    background-image:url('../images/index/charging_dock.png') ;
	background-repeat: no-repeat;
	background-size: 100px, 100px;
	background-position: center center;
    height: 100px;
}

#psyc-pv{
    background-image:url('../images/index/psyc.png') ;
	background-repeat: no-repeat;
	background-size: 100px, 100px;
	background-position: center center;
    height: 100px;
}


#personal-site-pv{
    background-image:url('../images/index/personal_web.png') ;
	background-repeat: no-repeat;
	background-size: 100px, 100px;
	background-position: center center;
    height: 100px;
    
}
/*******************************************
=============Video Previews=================
********************************************/

video:hover{
	opacity:1; 
	filter:alpha(opacity=1);
	box-shadow: 0px 0px 100px 0px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 6px;
}

video{
	opacity:0; 
	filter:alpha(opacity=0);
	margin: -40px;
    
}

#retire-vid{
	background-image:url('../images/index/retirement.png') ;
	background-repeat: no-repeat;
	background-size: 100px, 100px;
	background-position: center center;
}

#neural-vid{
	background-image:url('../images/index/neural_net.png') ;
	background-repeat: no-repeat;
	background-size: 100px, 100px;
	background-position: center center;
}

#cryptic-vid{
	background-image:url('../images/index/cryptic.png') ;
	background-repeat: no-repeat;
	background-size: 100px, 100px;
	background-position: center center;
}


/*******************************************
================Modal Styles================
********************************************/

.resume-modal {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    position: fixed;
    top: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.modal-content {
    width: 500px;
    height: 300px;
    background-color: white;
    border-radius: 8px;
    text-align: center;
    padding: 20px;
    position: fixed;
}

.vertical-menu {
    width: 500px; 
    text-align: center;
    margin-top: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    border: 2px solid grey;
    border-radius: 5px;
}

.vertical-menu a {
    background-color: #eee; 
    display: block; 
    padding: 15px; 
    text-decoration: none; 
    margin: 10px;
    border: 2px solid grey;
    border-radius: 5px;
    color: #3070AC;
}

.vertical-menu a:hover {
    background-color: #ccc; 
}

.close {
    position: absolute;
    top:0;
    right: 14px;
    font-size: 42px;
    transform: rotate(45deg);
    cursor: pointer;
    color: #3070AC;
}

/*******************************************
=============Video Previews=================
********************************************/
.portfolio {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 100%;
	background-color: #DDE6ED;
}

.layout {
	width: 80%;

	display: flex;
	gap: 16px;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0 auto;
}

.project-block {
	width: 300px;
	height: 300px;
	border-radius: 20px;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.cert-block {
	width: 150px;
	height: 150px;
	border-radius: 20px;

}